[submodule "stm32tpl"]
	path = lib/stm32tpl
	url = https://antongus@github.com/antongus/stm32tpl.git
[submodule "prj/ld"]
	path = prj/ld
	url = https://antongus@github.com/antongus/stm32-ld-scripts.git
[submodule "lib/scmRTOS"]
	path = lib/scmRTOS
	url = https://antongus@github.com/antongus/scmRTOS-cortex-m4-gcc.git
